@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;


    body {
        background-color: black;
    }

    .main {
        background-image: url(assets/images/bg.jpg);
        background-position: center center;
        width: 100vw;
        background-size: max(1200px, 100vw);
        background-repeat: no-repeat;
        height: 70vh;
        position: relative;
    }

    .main .box {
        height: 70vh;
        width: 100vw;
        opacity: 0.7;
        position: absolute;
        top: 0%;
        background-color: black;
    }

    nav {
        max-width: 80vw;
        justify-content: space-between;
        margin: auto;
        display: flex;
        align-items: center;
        height: 62px;
    }

    nav img {
        color: red;
        width: 114px;
        position: relative;
        z-index: 10;
    }

    nav button {
        position: relative;
        z-index: 10;
    }

    .hero {
        font-family: 'Martel Sans', sans-serif;
        height: calc(100% - 62px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        position: relative;
        gap: 23px;
        padding: 0 30px;
    }

    .hero> :nth-child(1) {
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        font-size: 48px;
        text-align: center;

    }

    .hero> :nth-child(2) {
        font-weight: 400;
        font-size: 24px;
        text-align: center;

    }

    .hero> :nth-child(3) {
        font-weight: 400;
        font-size: 20px;
        text-align: center;

    }

    .separation {
        height: 7px;
        background-color: rgb(51, 49, 49);
    }

    .btn {
        padding: 3px 8px;
        font-weight: 400;
        color: white;
        border-radius: 4px;
        border: 1px solid white;
        cursor: pointer;
        background-color: rgba(248, 243, 243, 0.021);
    }

    .btn-red {
        background-color: red;
        color: white;
        padding: 3px 24px;
        font-size: 20px;
        border-radius: 4px;
        font-weight: 400;
    }

    .btn-red-sm {
        background-color: red;
        color: white;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .main input {
        padding: 7px 101px 8px 14px;
        color: white;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgba(23, 23, 23, 0.7);
        border: 1px solid rgba(246, 238, 238, 0.5);
    }

    .first {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 70vw;
        color: white;
        align-items: center;
    }

    .secImg {
        position: relative;
    }

    .secImg img {
        width: 30vw;
        position: relative;
        z-index: 10;
    }

    .secImg video {
        position: absolute;
        top: 51px;
        right: 0;
    }
